/*Global styles*/
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background-color: var(--light-grayish-blue);
}
/*Variables*/
:root {
    /*Primary colors*/
    --moderate-violet: hsl(263, 55%, 52%);
    --icon-border-color: hsla(0, 0%, 100%, 0.3);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    /*Neutral colors*/
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    /*Font Size*/
    --main-font-size: 1.3rem;
    --small-font: 1rem;
    --large-font: 1.8rem;
}
/*Body styles*/
body {
    font-size: var(--main-font-size);
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
/*Testimonial Grid Container Styles*/
.testimonial-grid {
    width: 100%;
    margin: 50px 0 50px 0;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, auto);
    place-items: center;
    overflow: hidden;
}
.testimonial-container {
    width: 70%;
    display: grid;
    gap: 25px;
    padding: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
}
.testimonial-container .testimonial-block {
    padding: 25px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.testimonial-block .title {
    display: flex;
    align-items: center;
}
.title img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.title .user-info p {
    margin: 0;
}
.title .user-info p:nth-child(1) {
    font-size: var(--main-font-size);
    font-weight: 500;
}
.title .user-info p:nth-child(2) {
    opacity: 0.5;
    font-size: var(--small-font);
}
.testimonial-block .quote {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 15%;
    opacity: 0.7;
}
.testimonial-block .block-contain p:nth-child(1) {
    font-size: var(--large-font);
    font-weight: 600;
    position: relative;
    z-index: 2;
}
.testimonial-block .block-contain p:nth-child(2) {
    opacity: 0.7;
    margin: 0;
}
/*Inside cards styles and positioning*/
.first {
    background-color: var(--moderate-violet);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    color: var(--white);
}
.first .title img:first-child {
    border: 3px solid var(--icon-border-color);
}
.second {
    background-color: var(--very-dark-grayish-blue);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    color: var(--white);
}
.third {
    background-color: var(--white);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: var(--very-dark-grayish-blue);
}
.fourth {
    background-color: var(--very-dark-blackish-blue);
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    color: var(--white);
}
.fourth .title img:first-child {
    border: 3px solid var(--moderate-violet);
}
.fifth {
    background-color: var(--white);
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    color: var(--very-dark-grayish-blue);
}
/*footer styles*/
footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
footer .attribution {
    text-align: center;
    padding: 10px;
}
.attribution p {
    margin: 0;
}
/*Media queries*/
@media (max-width: 1150px) {
    .testimonial-container {
        width: 90%;
        gap: 25px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(auto);
    }
    .first {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .second, .third, .fourth, .fifth {
        grid-column: auto;
        grid-row: auto;
    }
}
@media (max-width: 900px) {
    .testimonial-container {
        width: 90%;
        gap: 25px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(auto);
    }
    .first, .second, .third, .fourth, .fifth {
        grid-column: auto;
        grid-row: auto;
    }
}
@media (max-width: 580px) {
    .testimonial-container {
        width: 90%;
        gap: 25px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(auto);
    }
    .first, .second, .third, .fourth, .fifth {
        grid-column: auto;
        grid-row: auto;
    }
}